body{
    color: gray;
    font-family: Arial, serif;
    font-size: 22px;
}

h2{
    color: #dc143c;
    font-size: 24px;
}

h1{
    color: #899dd9;
}

h1:hover{
    color: brown;
    transition: color 0.5s;
}

table{
    border-spacing: 0;
}

td{
    padding: 7px;
}

.colored-tr{
    background-color: rgba(240, 221, 220, 0.22);
}

.colored-tr:hover{
    background-color: rgba(240, 141, 232, 0.22);
    transition: background-color 0.5s;
}

#collection-table img:hover{
    width: 200px;
    transition: width 1s;
}

#menu td{
    padding-right: 15px;
}

#menu{
    margin-left: 15px;
}

a{
    color: darkgray;
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: gray;
    transition: color 0.5s;
}

#profile-img{
    border-radius: 50%;
}

#profile-info-table{
    text-align: center;
}

form  label{
    display: inline-block;
    width: 150px;
}

form input[type="text"], input[type="password"], input[type="email"] {
    border-color: darksalmon;
    border-style: solid;
    border-radius: 7px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding: 5px;
}

form input{
    margin-bottom: 10px;
}
