<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Collection Manager</title>
    <meta charset="UTF-8">
    <link href="style.css" rel="stylesheet">
</head>

<body>

<table width="100%"> <!-- min-width + max-width-->
    <tr height="150px">
        <td bgcolor="#e0ffff">

            <table width="100%">
                <tr>
                    <td height="100px" width="100px">
                        <img width="100px" src="https://icon-library.com/images/collection-icon/collection-icon-23.jpg">
                    </td>
                    <td align="center">
                        <h1>Приложение для работы с коллекциями на любой вкус</h1>
                    </td>
                    <td width="100px">
                        <a href="#">Войти</a>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
    <tr height="75px">
        <td bgcolor="#ffefd5">

            <table id="menu">
                <tr>
                    <td><a href="index.html">Collections</a></td>
                    <td><a href="#">Admin</a></td> <!-- Will be hidden for users-->
                    <td><a href="profile.html">Profile</a></td>
                </tr>
            </table>

        </td>
    </tr>
    <tr height="200px">
        <td>
            <!-- CONTENT -->
            <h2>Топ коллекций: </h2>
            <table width="100%" id="collection-table">
                <tr class="colored-tr" th:each="collection : ${all_collections}">
                    <td width="100px" height="100px"><img width="100px"
                                                           src="https://pngimage.net/wp-content/uploads/2018/06/new-collection-png-2.png">
                    </td>
                    <td th:text="${collection.name}"></td>
                    <td width="20%" th:text="${collection.title}"></td>
                    <td width="10%" th:text="${collection.userName}">Username</td>
                    <td width="25%">tags</td>
                    <td width="50px"><a href="#">Open</a></td>
                </tr>
            </table>

        </td>
    </tr>
    <tr height="75px">
        <td bgcolor="#ffefd5">4</td>
    </tr>
</table>

</body>

</html>