<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Collection Manager</title>
    <meta charset="UTF-8">
    <link href="style.css" rel="stylesheet">
</head>

<body>
    <table width="100%" > <!-- min-width + max-width-->
        <tr height="150px">
            <td bgcolor="#e0ffff">

                <table width="100%">
                    <tr>
                        <td height="100px" width="100px">
                            <img width="100px" src="https://icon-library.com/images/collection-icon/collection-icon-23.jpg">
                        </td>
                        <td align="center">
                            <h1>Приложение для работы с коллекциями на любой вкус</h1>
                        </td>
                        <td width="100px">
                            <a href="#">Войти</a>
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
        <tr height="75px">
            <td bgcolor="#ffefd5">

                <table id="menu">
                    <tr>
                        <td><a href="index.html">Collections</a></td>
                        <td><a href="#">Admin</a></td> <!-- Will be hidden for users-->
                        <td><a href="profile.html">Profile</a></td>
                    </tr>
                </table>

            </td>
        </tr>
        <tr height="200px">
            <td>
                <!-- CONTENT -->
                <h2>Профиль: </h2>
                <table width=600px">
                    <tr height="300px">
                        <td width="300px">
                            <img id="profile-img" width="300px" src="https://media.vanityfair.com/photos/5f36ca61f51ed31274cdfb62/1:1/w_1079,h_1079,c_limit/batman-ben-affleck.jpg">
                        </td>
                        <td rowspan="2" valign="top">

                            <table id="profile-info-table"  width="100%">
                                <tr>
                                    <td th:text="${user.name}"></td>
                                </tr>
                                <tr>
                                    <td th:text="${user.lastName}"></td>
                                </tr>
                                <tr>
                                    <td th:text="${user.email}"></td>
                                </tr>
                                <tr>
                                    <td th:text="${user.role}"></td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            33
                        </td>
                    </tr>
                </table>

                <form action="localhost:63342/addCollection" method="POST">
                    <label for="name-col">Name:</label>
                    <input type="text" id="name-col" name="name"><br>
                    <label for="title">Title:</label>
                    <input type="text" id="title" name="title"><br>
                    <label for="desc">Description:</label>
                    <input type="text"  id="desc" name="description"><br>
                    <label for="image">Image Url:</label>
                    <input type="text"  id="image" name="imageUrl"><br>
                    <label for="id">User id:</label>
                    <input type="text"  id="id" name="userId"><br>
                    <input type="submit" value="Submit">

                </form>

            </td>
            <hr>

        </tr>
        <tr height="75px">
            <td bgcolor="#ffefd5">4</td>
        </tr>
    </table>

</body>

</html>